@{
    ViewBag.Title = "BA Library";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<button class="buttonclass">click</button>
<a href="Bye" class="buttonclass">Link button</a>
<p>Use this area to provide additional information.</p>
